<div class="container" style="max-width: 75%">

  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">

    <p class="d-flex align-items-center mb-3 mb-md-0 text-dark me-md-auto text-decoration-none lead" style="font-size: 1.7em">Axis Math Tutoring</p>

    <ul class="nav nav-pills">
      {% for item in site.data.nav.map %}
        {% if item.url == page.url %}
          <li class="nav-item"><a href="{{ item.url }}" class="nav-link active" aria-current="page">{{ item.title | escape }}</a></li>
        {% else %}
          <li class="nav-item"><a href="{{ item.url }}" class="nav-link">{{ item.title | escape }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>

  </header>

</div>

